*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

/* NAV */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  position:sticky;
  top:0;
  background:#0f172a;
}

nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

nav a:hover{
  color:#38bdf8;
}

/* HERO */
.hero{
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(135deg,#0f172a,#1e3a8a);
}

.hero h2{
  font-size:50px;
}

.hero span{
  color:#38bdf8;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#38bdf8;
  color:black;
  border-radius:8px;
  text-decoration:none;
}

/* SECTIONS */
.section{
  padding:80px 10%;
  text-align:center;
}

/* SKILLS */
.skill{
  margin:15px 0;
  text-align:left;
}

.bar{
  width:100%;
  background:#1e293b;
  height:10px;
  border-radius:10px;
}

.bar div{
  height:10px;
  background:#38bdf8;
  border-radius:10px;
}

/* CARDS */
.card{
  background:#1e293b;
  margin:20px auto;
  padding:20px;
  border-radius:12px;
  max-width:600px;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

/* CONTACT */
.contact-box a{
  display:inline-block;
  margin:10px;
  padding:10px 20px;
  background:#38bdf8;
  color:black;
  border-radius:8px;
  text-decoration:none;
}

footer{
  text-align:center;
  padding:20px;
  background:#0f172a;
}
