*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  position:sticky;
  top:0;
  background:#0f172a;
}

nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

nav a:hover{
  color:#38bdf8;
}

/* HERO */
.hero{
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(135deg,#0f172a,#1e3a8a);
}

.hero h2{
  font-size:55px;
}

.hero span{
  color:#38bdf8;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#38bdf8;
  color:black;
  border-radius:10px;
  text-decoration:none;
}

/* SECTIONS */
.section{
  padding:80px 8%;
  text-align:center;
}

.dark{
  background:#111c36;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:15px;
  margin-top:20px;
}

/* CARDS */
.card{
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

/* CONTACT */
.contact a{
  display:inline-block;
  margin:10px;
  padding:10px 20px;
  background:#38bdf8;
  color:black;
  border-radius:8px;
  text-decoration:none;
}

footer{
  text-align:center;
  padding:20px;
  background:#0f172a;
}
